.our-team {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .our-team {
        flex-wrap: wrap;
        flex-basis: calc(100% / 2)
    }
}

@media screen and (min-width: 1200px) {
    .our-team {
        flex-basis:calc(100% / 4);
        flex-wrap: nowrap; 
    }
}

.foot__text {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
    .foot__text {
        margin-right:30px;
        width: 354px;
        height: 536px
    }

    .foot__text:nth-child(2n) {
        margin-right: 0px
    }
}

@media screen and (min-width: 1200px) {
    .foot__text {
        margin-bottom:0;
        width: 270px;
        height: 428px
    }

    .foot__text:not(:last-child) {
        margin-right: 30px
    }
}

.foot__text h3 {
    margin-bottom: 10px;
}

.foot__text-block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.foot__job {
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}