.btn {
    width: 200px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: white;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters__bottoms {
    margin-bottom: 50px;
}

.filters__bottoms li {
    display: inline-flex;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}

.filters__btn {
    font-family: 'Roboto', sans-serif;
    background: #F5F4FA;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background: #2196F3;
        color: white;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:focus {
        background: #2196F3;
        color: white;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.footer__input-btn {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-image: url(../images/social/svg/icon-telegram.svg);
    background-repeat: no-repeat;
    background-position: 150px;
    text-align: left;
    padding-left: 29px;
    cursor: pointer;
}

.modal-form-btn {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}