.form {
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px 40px;
    text-align: start;
}

.form__block-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form__name {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.form__label {
    margin-bottom: 10px;
}

.form__block-item {
    position: relative;
}

.form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 36px;
    .form__block-item:focus-within & {
        border: 1px solid #2196F3;
        outline: none;
        }
}

.form__name-svg {
    position: absolute;
    display: block;
    transform: translateY(-50%);
    top: 50%;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    margin-left: 12px;
    .form__block-item:focus-within & {
        fill: #2196F3;
        }
}

.form__area {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    resize: none;

    &:focus-within {
        border: 1px solid #2196F3;
        outline: none;
    }
}

.textarea {
    &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    }
}

.form__checkbox-text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form__checkbox-text a {
    text-decoration: underline;
    color: #2196F3;
}

.checkbox-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: hidden;
    margin: 0 !important;
}

.form__check {
    width: 12px;
    height: 11px;
    border: 2px solid black;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    .form__checkbox:checked + & {
        background-image: url(../images/social/svg/vector.svg);
        background-repeat: no-repeat;
        background-color: #2196F3;
        background-position: center;
        border-color: #2196F3;
        background-size: contain;
        background-origin: border-box;
    }
}