.head {
    background: white;
}

.test {
    border-bottom: 1px solid #ECECEC;
    display: flex;
    height: 80px;
}

.test .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu {
    display: none;
}

@media screen and (min-width: 768px) {
    .main-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #212121;
        width: 100%;
    }
}