.head {
    background: white;
}

.test {
    border-bottom: 1px solid #ECECEC;
    display: flex;
    height: 80px;
}

.test .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}