.section {
    padding-bottom: 94px;
}

.decision {
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(/images/mobile/mobile-head-1x.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 15px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .decision {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url ("../images/mobile/mobile-head-2x.jpg");
    }
}

@media (min-width: 481px) {
    .decision {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/tablet-head-1x.jpg");
    }
}

@media (min-width: 481px) and (min-device-pixel-ratio: 2), (min-width: 481px) and (min-resolution: 192dpi), (min-width: 481px) and (min-resolution: 2dppx) {
    .decision {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/tablet-head-2x.jpg");
    }
}

@media (min-width: 768px) {
    .decision {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/desktop-head-1x.jpg");
    }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
    .decision {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/desktop-head-2x.jpg");
    }
}

@media screen and (min-width: 1200px) {
    .decision {
        height:600px;
        max-width: 1600px;
        padding: 200px 15px
    }
}

.info {
    padding-top: 94px;
    background-color: white;
}
.pictures {
    background-color: white;
}
.foot {
    padding-top: 94px;
    background-color: #F5F4FA;
}