.section {
    padding-bottom: 94px;
}

.decision {
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url(../images/social/Img-logo-head.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 15px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.info {
    padding-top: 94px;
    background-color: white;
}
.pictures {
    background-color: white;
}
.foot {
    padding-top: 94px;
    background-color: #F5F4FA;
}