body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
  }

  p {
    letter-spacing: 0.03em;
    color: #757575;
  }
  
  a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: #212121;
  }
  
  h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  h4 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
  
  ul {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    margin: 0;
    padding: 0;
  }